<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.houqinafter.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.houqinafter.entity.User">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName" />
        <result column="u_password" property="uPassword" />
        <result column="u_sex" property="uSex" />
        <result column="u_tel" property="uTel" />
        <result column="u_type" property="uType" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
